/* Login Screen */

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

/* General CSS */

a, a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

* {
    transition:0.2s;
}


/* Header */

.top-menu {
    background: #2c003e;
    padding: 20px;
}

.top-menu a{
    color: white;
}

.top-menu a:hover {
    color: #51dacf;
}

.logout-button {
    background: #d2fafb;
    padding: 10px;
    color: #2c003e;
    text-align: center;
    border-radius: 3px;
}

.header-option {
    padding: 10px;
}

.logout-button:hover {
    background: #51dacf;
}

/* Footer */

.footer {
    background: #2c003e;
    padding: 20px;
    color: white;
}

/* Main */

.menu-tiles {
    margin-top: 100px;
    min-height: calc(100vh - 296px);
}

.menu-tiles .col-sm {
    padding: 20px;
    max-width: 200px;
    font-size: 24px;
    background: #efefef;
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.13);
    border-radius: 3px;
}

.menu-tiles .col-sm:hover {
    box-shadow: 5px 5px 5px -2px rgba(81,218,207,1);
}

/* Masini - View */

.masini-container {
    padding: 40px;
}

/* Comparator - Container */

.comparator-container {
    display: none;
    padding: 40px;
}

.comparator-selector {
    padding-top: 80px;
    min-height: calc(100vh - 196px);
}

.selector-1 .row, .selector-2 .row {
    margin: 20px 0px;
} 

.selector-1-final, .selector-2-final {
    display: none;
}

.selected-final {
    font-weight: 600;
}

.calculator_rezultate {
    display: none;
}

.btn-compara {
    font-size: 28px;
}

.table_scor_final {
    display: none;
}

.scoruri_finale {
    font-size: 30px;
}

.score_win {
    color: #28a745 !important;
    font-size: 36px !important;
    font-weight: 600;
}

.score_lose {
    color: #dc3545 !important;
    font-weight: 500;
}

.table_container_relative {
    position: relative;
    display: flex;
    justify-content: center;
}

.stick_comparator_thead {
    position: absolute;
    top: 20px;
    width: 96.4%;
    display: none;
}

.green_plus {
    background: #ccffcc;
}

.red_minus {
    background: #ffcccc;
}

/* Partea de masini, modalul de adaugare/editare */
.temporar, .editeaza_5 {
    display: none;
}

.temporar_2_tehnic {
    display: block;
}

.button_back, .button_final {
    display: none;
}

.error_adaugare_editare {
    color: darkred;
    font-weight: 500;
    display: none;
}

.tabel-masini tbody > tr > td:nth-child(3) {
    text-align: right;
}

.tabel-masini tbody > tr > td:nth-child(4) {
    text-align: center;
}

.edit_model, .delete_model {
    padding: 10px;
    border-radius: 50px;
}

.edit_model:hover {
    background: #ccffcc;
}

.delete_model:hover{
    background: #ffcccc;
}